<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>User Devices</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/table.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="sidenav">
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/images/grootan.webp" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">Grootan</span>
                    <span class="profession">Device Management</span>
                </div>
            </div>
        </header>
    </nav>
    <br>
    <br>
    <button class="dropdown-btn"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Employee
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a th:href="@{/employee/registration}" class="row1">Employee Registration</a>
        <a th:href="@{/employee/list}" class="row1">List Of Employees</a>
        <a th:href="@{/employee/user/device}" class="row1">List Of Employee Devices</a>
        <a th:href="@{/employee/department}" class="row1">Add Employee Department</a>
    </div>
    <br>
    <button class="dropdown-btn"><i class='fa fa-users'></i>&nbsp;Roles
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a th:href="@{/role/registration}" class="row1">Roles Registration</a>
        <a th:href="@{/roles/list}" class="row1">List Of Roles</a>
    </div>
    <br>
    <button class="dropdown-btn"><i class='bx bxs-devices'></i>&nbsp;Devices
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a th:href="@{/device/add}" class="row1">Add Device Details</a>
        <a th:href="@{/device/list}" class="row1">List Of Device Details</a>
        <a th:href="@{/device/add/category}" class="row1">Add Device Category</a>
        <a th:href="@{/device/add/name}" class="row1">Add Device Name</a>
    </div>
    <br>
    <a th:href="@{/history}" class="dropdown-btn"><i class="fa fa-history" aria-hidden="true"></i>&nbsp;History</a>
    <br>
    <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="dropdown-btn"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a>
</div>
<h1>Employee Devices</h1>
<div class="user_main">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">EmployeeId</th>
            <th scope="col">DeviceName</th>
            <th scope="col">DeviceId</th>
            <th scope="col">DevicePurchaseDate</th>
            <th scope="col">DeviceCategory</th>
        </tr>
        </thead>
        <tbody id="employees">
        </tbody>
    </table>
    <a th:href="@{/}" class="btn btn-primary btn1">Back</a>
</div>
<script>
$(document).ready(function(){
$.ajax({
url:"/employee/user/devices/all",
type:"GET",
contentType : "application/json",
dataType : 'json',
success: function(response){
						$.each(response, function (key, value) {
						var id = value.id;
							$('#employees').append('<tr>\
										<td>'+value.empId+'</td>\
										<td>'+value.deviceName+'</td>\
										<td>'+value.DeviceId+'</td>\
										<td>'+value.devicePurchaseDate+'</td>\
										<td>'+value.category+'</td>\
										<td><button  class="btn btn-danger" onclick="Delete('+id+')">delete</button></td>\
										</tr>');

						})
                  }
});
});
function Delete(id)
{
 $.ajax({
			type : "DELETE",
			contentType : "application/json",
			url : '/employee/device/delete/'+id,
			dataType : 'json',
			success : function() {
				alert("Deleted Successfully");
				window.location.href='http:/employee/user/device';
			},
			error : function(request,status,error) {
				alert(request.responseText);
			}
		});
}
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content -
 This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>
</body>
</html>